body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

#title {
    font-size: 70px;
    font-weight: bolder;
    margin: 90px;
    margin-bottom: 0;
}

p {
    padding-bottom: 30px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.585);
}

a {
    text-decoration: none;
    background-color: orangered;
    font-size: 25px;
    font-weight: 900;
    padding: 15px 20px;
    border-radius: 5px;
    color: azure;
}

.header {
    background-image: url(donate-today-main/images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 475px;
    margin-top: 0;
    color: azure;
    text-align: center;
    padding: 120px 20px;
}

.headings {
    font-size: 55px;
    font-weight: 700;
}

.second-division {
    text-align: center;
    padding-top: 120px;
}

#taka {
    display: flex;
    margin-left: 290px;
    margin-bottom: 40px;
}

.takaheading {
    padding: 40px 30px;
    background-color: silver;
    margin: 15px;
    color: ;
    border-radius: 5px;
}

#takadesign {
    background-color: rgb(246, 216, 221);
    border: 3px solid rgb(233, 106, 106);
    color: rgb(233, 106, 106);
}

#textfield {
    text-decoration: underline;
}

#buttonfield {
    display: block;
}

.third-division {
    text-align: center;
    padding-top: 120px;
}

#card {
    display: flex;
    padding: 10px;
    margin: 20px;
    text-align: left;
    margin-left: 160px;
}

.card-style {
    padding: 80px 20px 15px;
    margin-right: 30px;
}

.fourth-division {
    display: flex;
    margin: 20px;
    padding: 100px 30px 50px 30px;
}

.half-width {
    width: 50%;
    margin: 10px 10px 0;
    padding-left: 40px;
}

.image-size {
    width: 600px;
    height: 500px;
    border-radius: 5px;
}